body {
    background-image: url("../images/background.png");
    animation: animation 100s linear infinite;
}

@keyframes animation {
    100%{
        background-position: 5000px 5000px;
    }
}

div {
    font-family: 'Titan One', cursive;
    text-align: center;
    color: white;
    text-shadow: 2px 1px black;
}

.policy {
    margin-top: 40px;
    font-size: 40px;
}

.policy-content {
    margin-top: 60px;
    font-size: 30px;
}