@font-face {
    font-family: Stalinist;
	src: url("../fonts/StalinistOne-Regular.ttf") format("truetype");
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
	background-color: white;
}

#errorbox {
	height: 100%;
	display: none;
}

#mainbox {
	height: 100%;	
}

#optionsbox {
	position: relative;
	z-index: 1;
}

#privacybox {
	height: 50%;
	display: none;
	padding-left: 5px;
	padding-right: 5px;
}

#gamebox {
	display: none;
}

#selectbox {
	display: none;
}

.changebox {
	display: none;
	line-height: 0;
}

.centered {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
	transform: translate(-50%, -50%);
}

#playbox {
	margin-bottom: 10px;
}

#playbutton-box {
	text-align: center;
	margin-right: 5%;
}

#playbutton {
	height: 140px;
	width: 140px;
}

#playbutton-inner {
	cursor: pointer;
}

.errortext, .privacytext, .privacytext-link {
	font-family: Stalinist;
	font-size: 20px;
	color: black;
	text-align: center;
}

.errortext, .privacytext {
	font-size: 16px;
}

.privacytext-link {
	font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	bottom: 2px;
	z-index: 1;
}

.privacy-header {
	margin-top: 0px;
	padding-top: 20px;
}

.errortext {
	color: #ab2828;
}

.separated {
    display: flex;
    justify-content: space-between;
}

.map-number {
	font-family: Stalinist;
	font-size: 30px;
}

.refresh, .back, .forward, .sound {
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.sound {
	/* makes the inner path equal with the back button which is about 33px */
	height: 44px;
}

#sound-off {
	display: none;
}

#privacy-back, #select-back, #game-back {
	display: none;
}

.back {
	transform: scaleX(-1);
}

#selectgrid {
    height: 320px;
    width: 320px;
}

.selectgrid-row {
    height: 60;
}

.rectbox {
    float: left;
    margin-left: 20px;
	margin-top: 20px;
    width: 40px;
    height: 40px;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.numberbox {
	font-size: 12px;
    font-family: Stalinist;
    color: white;
}

#changebox-first {
	float: right;
	margin-right: 5%;
}

#changebox-in-between {
	width: 90%;
	margin-left: 5%;
}

#changebox-last {
    margin-left: 5%;
}

.done {
    background-color: #e8e8e8;  
}

.done .numberbox {
    color: black;
}

.done, .tobe-done {
	cursor: pointer;
	transition: transform 200ms ease-in;
}

@media not all and (pointer: coarse) {
    .done:hover, .tobe-done:hover {
        transform: scale(1.3);
    }
}

.gamebox-options {
	height: 50px;
	margin-bottom: 15%;
	margin-top: 10%;
	text-align: center;
}

* {
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pulsating {
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		fill-opacity: 0;
	}

	70% {
		fill-opacity: 1;
	}

	100% {
		fill-opacity: 0;
	}
}

